# ---- Python template (trimmed) -----------------------
__pycache__/
*.py[cod]
*.so
.Python
.env
.venv*/
venv*/
# ---- data/models you do track with Git LFS -----------
!models/**/*.gitattributes
# ---- VS Code -----------------------------------------
.vscode/*
# ---- OS cruft ----------------------------------------
.DS_Store
Thumbs.db
datasets/installed/coco_dataset/train2017.zip
datasets/*.db
datasets/**/*.db
*.db
storage_management.db
datasets_management.db
# ---- Logs --------------------------------------------
logs/
logs/aimer.log
