# Environments
.venv*/        # tous les venv locaux
env/           # compatibilité cross-OS

# Datasets / modèles lourds
datasets/
models/
*.pt
*.pth
*.onnx

# Logs / artefacts
logs/
*.log
exports/
screenshots/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
